body {
  background-color: #f9f7fe;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin: 30px;
}

h1 {
  color: #272044;
  font-size: 38px;
  font-weight: 800;
  line-height: 1.5;
  text-align: center;
}

.form-wrapper {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  margin-bottom: 30px;
  padding: 15px 20px;
}

form {
  display: flex;
}

.hint {
  font-size: 12px;
  line-height: 1.5;
  margin-top: 10px;
  opacity: 0.6;
}

a {
  color: #885df1;
}

.instructions {
  border: 1px solid rgba(39, 33, 66, 0.5);
  border-radius: 50px;
  color: #272044;
  padding: 16px;
  font-size: 16px;
  line-height: 20px;
  width: 80%;
}

.submit-button {
  background-color: #885df1;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  font-size: 16px;
  margin-left: 10px;
  padding: 14px 24px;
  width: 150px;
}

.poem {
  background-color: #ffffff;
  border-left: 3px solid #885df1;
  box-shadow: 0px 20px 60px rgba(39, 33, 66, 0.03);
  font-size: 14px;
  line-height: 2;
  padding: 20px;
}

.hidden {
  display: none;
}

.poem strong {
  color: #885df1;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

footer {
  font-size: 12px;
  margin-top: 30px;
  text-align: center;
}
